<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>House Administrator</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/inventoryapp.css" %}"/>
  </head>
  <body>
    <h1>this is the index page from template</h1>
    {{ items_list }}

    <p>/roomsto add a new room</p>
    <div class="">
      {% if items_list %}
      <table>
        <thead>
          <th>Room</th>
          <th>Item</th>
        </thead>
        {% for it in items_list %}
        <tr>
          <td>{{ it.room }}</td>
          <td>{{ it.item_name }}</td>
        </tr>
        {% endfor %}
      </table>

      {% else %}
      <p>Nothing to Show</p>
      {% endif %}



    </div>
  </body>
</html>
